/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-h: 77px;
  --header-h-lg: 87px;
  --header-h-xl: 90px;

  /* scrollbar colors firefox */
  --primary: #171717;
  --secondary: #ff304d;
}

* {
  font-family: "Montserrat", sans-serif;
  transition-duration: 150ms;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
@layer base {
  html {
    @apply scroll-smooth text-base font-medium text-dark;
  }
  .container {
    @apply mx-auto !max-w-[1920px] px-5 lg:px-[30px] 3xl:px-[135px];
  }
  *::selection {
    @apply bg-main text-white;
  }

  .custom__scrollbar::-webkit-scrollbar,
  html::-webkit-scrollbar,
  #popupForms::-webkit-scrollbar {
    @apply w-[10px]  bg-dark;
  }
  /* popupForms */

  html::-webkit-scrollbar-thumb,
  .custom__scrollbar::-webkit-scrollbar-thumb,
  #popupForms::-webkit-scrollbar-thumb {
    @apply rounded-full bg-main;
  }
}

@layer components {
  /* .wrapper {
    @apply relative m-auto flex  max-w-full flex-col  pt-[var(--header-h)] lg:pt-[var(--header-h-xl)] xl:pt-[var(--header-h-xl)];
  } */

  .lock-wrapper {
    @apply h-screen overflow-hidden;
  }

  /* =========== Red Gradient ============ */
  .red-gradient-hero {
    @apply relative overflow-hidden 
  to-transparent
  before:absolute before:right-0 before:h-[212px]
  before:w-[212px] before:translate-x-[50%]
  before:bg-gradient-radial
  before:from-main before:blur-[45px] before:content-['']

  lg:before:top-[50px]
  lg:before:h-[322px] lg:before:w-[322px]
  lg:before:blur-[60px]
     
  xl:before:top-[0px]  xl:before:h-[591px] xl:before:w-[591px]
  xl:before:blur-[90px];
  }

  .red-gradient-menu {
    @apply relative overflow-hidden
  to-transparent before:absolute
  before:right-0 before:top-[135px]
  before:h-[190px]
  before:w-[190px] before:translate-x-[28%] before:bg-gradient-radial

  before:from-main
  before:blur-[60px] before:content-['']
  lg:before:top-[240px]
  lg:before:h-[220px]
     
  lg:before:w-[220px] lg:before:translate-x-[50%]  lg:before:blur-[75px] xl:before:top-[0px]
  xl:before:h-[591px] xl:before:w-[591px];
  }
  /* =========== translate-underline ============ */

  .translate-underline__hover-line__dark {
    @apply relative transition-all before:absolute before:-bottom-1 before:right-0
    before:h-px  before:w-0 before:bg-lightDarkGrey before:transition-all
    before:duration-200 before:content-['']  hover:text-lightDarkGrey hover:before:left-0
    hover:before:w-full active:text-main active:before:bg-main active:before:text-main;
  }

  /* =========== FORM dynamic ============ */
  .active-label {
    @apply -translate-x-3 -translate-y-7;
  }

  /* =========== TOTAL WHITE HEADER ============ */

  .header.white-header {
    @apply bg-light text-dark dark:bg-dark dark:text-white;
  }
  .white-header #nav {
    @apply text-dark dark:text-white;
  }
  .white-header .burger {
    @apply text-dark dark:text-white;
  }
  .white-header .white-header-language {
    @apply hover:bg-lightGrey dark:hover:bg-transparent;
  }

  /* .burger-paint-header-dark.header.white-header {
    @apply bg-dark text-white dark:bg-dark dark:text-white;
  }
  .burger-paint-header-dark.white-header #nav {
    @apply text-white dark:text-white;
  }
  .burger-paint-header-dark.white-header .burger {
    @apply text-white dark:text-white;
  }
  .burger-paint-header-dark.white-header .white-header-language {
    @apply hover:bg-transparent dark:hover:bg-transparent;
  } */

  /* =========== BIG RED ROUND BUTTON ============ */

  /* .big-red-btn.cases-page__big-red-btn {
    @apply h-[125px] w-[125px]  lg:h-[125px] lg:w-[125px] xl:h-[177px] xl:w-[177px];
  } */

  /*================== btn-style ========================*/
  .btn {
    @apply m-auto flex  w-full
         items-center justify-center gap-[10px] rounded-full bg-main py-[16px] 
         text-base font-bold uppercase text-white transition-all
        sm:max-w-[357px];
  }

  /*==============================
  btn effects 
  =================================*/
  .link-oside {
    @apply relative overflow-hidden;
  }

  .link-oside::after {
    @apply absolute left-0 top-full h-full w-full
    rounded-[70px] bg-[#DC2D45] transition-all ease-in content-[''];
  }

  .link-oside:hover {
    @apply scale-105;
  }

  .link-oside:hover::after {
    @apply absolute left-0 top-0 -z-10 h-full w-full 
    rounded-[70px] bg-[#DC2D45] content-[''];
  }

  /* ==============  cards wrapper =============*/
  .cards {
    @apply 2xl:w-[calc(100%-2px)];
  }

  .cards-text__left {
    @apply lg:pr-[33px];
  }

  .cards-text__right {
    @apply lg:pl-[33px];
  }

  /* ========== 
img-desc-
========== */

  /* gap-[16px] */
  .img-desc {
    @apply absolute top-0 z-[1] flex flex-col
    px-[20px] py-[18px] 
    lg:px-[33px] lg:py-[25px] 
    xl:px-[26px] xl:py-[36px];
  }

  .img-desc__wrap {
    @apply mb-[16px]
    xl:mb-[31px]
    2xl:mb-[60px];
  }

  .wrap-text {
    @apply flex items-center gap-[15px];
  }

  .img-desc_big {
    @apply text-4xl font-bold text-white
    2xl:text-[64px];
  }

  .wrap-text__inner {
    @apply flex flex-col;
  }

  .wrap-text__gap {
    @apply mb-[7px] flex items-center gap-[7px]
    lg:mb-[2px] lg:gap-[8px]
    xl:mb-[20px];
  }

  .img-desc_small {
    @apply text-xs font-medium leading-[13px]  text-white
    lg:text-base lg:leading-[18px]
    2xl:text-xl 2xl:leading-[22px];
  }

  /* ========
btn-card 
========= */

  .cards__link {
    @apply flex  text-xl  font-bold leading-6 text-inherit
     
    lg:flex lg:justify-between 
    xl:gap-0 xl:text-[32px];
  }

  .cards__title {
    @apply mb-[25px] text-xl font-bold
     leading-[120%] text-dark dark:text-white
     lg:mb-[66px] 
    
     2xl:mb-[30px] 2xl:text-[32px]  2xl:leading-[120%];
  }

  .cards__btn {
    @apply flex h-max;
  }

  /* ============ 
cards__wrap 
============= */

  /* lg:mb-[95px] */
  .cards__text {
    @apply mb-[40px] text-sm
    font-medium
    text-dark dark:text-white
    lg:text-base lg:leading-[140%];
  }

  .cards__desc {
    @apply text-xs font-medium uppercase leading-[140%]
     text-dark dark:text-white
     lg:text-[14px] 
     xl:text-base;
  }

  /*================================================
BEGIN: 06-section-services
 =============================================== */
  .text__hover-red {
    @apply transition ease-in group-hover/card:text-main;
  }

  /* cards__btn */
  /* top-[32px] right-[23px] */
  /*  xl:relative xl:top-[-25px] xl:right-[-2px] 2xl:right-[-32px]  */
  .wrap-svg__hover-red {
    @apply rounded-full transition-all ease-in
  xl:p-[26px]
                                
  xl:group-hover/card:bg-main 2xl:p-8;
  }

  .svg__hover-red {
    @apply transition-all ease-in 
  group-hover/card:fill-main 
  
  xl:group-hover/card:fill-white;
  }

  /* hover:text-white active:text-main active:before:bg-main
      active:before:text-main*/
  .translate-underline__hover-line__white {
    @apply relative cursor-pointer transition-all duration-100
     before:absolute before:-bottom-[1px] before:right-0 before:h-[2px] before:w-0
     before:bg-white before:opacity-0 before:transition-all
     before:duration-1000 before:content-[''] 
     group-hover/card:before:left-0 group-hover/card:before:right-auto
      group-hover/card:before:w-full group-hover/card:before:opacity-100 
      group-hover/card:before:duration-300
      group-hover/card:after:scale-100;
  }

  /* =================  SWIPER ================*/

  /* .mySwiper-container {
    @apply w-full overflow-hidden;
  }
  .mySwiper .swiper-pagination {
    @apply !bottom-[30px] lg:!bottom-[40px] xl:!bottom-[10px];
  }
  .mySwiper .swiper-pagination-bullet {
    @apply !mx-[5px] bg-middleGrey opacity-100 lg:!mx-[7px] lg:h-[10px] 
  lg:w-[10px] xl:!mx-[10px] xl:h-[14px] xl:w-[14px] xl:bg-white;
  }
  .mySwiper .swiper-pagination-bullet-active {
    @apply bg-main;
  } */
  /* -----------blog swiper main page---------- */

  /* .blogSwiper .swiper-slide {
    @apply w-auto;
  } */

  /*=====================================
STYLES 
======================================*/

  ._nav-item-activ {
    @apply !text-main;
  }

  /*------------- menu mobile button language ------------*/

  .active-language-menu {
    @apply pointer-events-none order-1 bg-grey;
  }

  /* 
  .btn__red {
    @apply flex flex-row items-center justify-center
        gap-[10px] rounded-[70px] border-[1px] border-main bg-main px-9 py-4
        text-base font-bold uppercase  leading-5 text-white;
  }

  .btn__red-service {
    @apply flex flex-row items-center justify-center
        gap-[10px] rounded-[70px] border-[1px] border-main bg-main px-[28px] py-[13px]
        text-sm font-bold uppercase  leading-[171%] text-white;
  }

  .btn__dark-atricle {
    @apply flex flex-row items-center justify-center
         rounded-[70px] border-[1px]  bg-dark px-[20px] py-[13px]
        text-sm font-bold uppercase  leading-[171%] text-white;
  } */

  /*============== 404 page =============== */
  /* .nopage__button:hover ~ div {
    @apply text-main;
  }
  .nopage__button:hover ~ #back-home {
    @apply visible opacity-100;
  }
  .nopage__button:hover ~ #not-found {
    @apply invisible opacity-0;
  } */

  /*=== submit button spunner === */
  /* .spinner_ajPY {
    transform-origin: center;
    animation: spinner 0.75s infinite linear;
  }
  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  } */

  /*------ filter button ----- */
  /* .category__filter-btn {
    @apply flex gap-2 rounded-[40px] border border-transparent bg-lightGrey px-4 py-[11px] text-sm uppercase leading-[1.2]
     transition-all hover:bg-dark hover:text-white active:border-main dark:border-lightGrey dark:text-dark dark:hover:text-white;
  }
  .category__filter-btn--active {
    @apply bg-dark text-white dark:text-white;
  }

  section.carusel-total-white {
    @apply bg-light text-dark dark:bg-dark dark:text-white;
<<<<<<< HEAD
  } */

  

  .to-animate {
    @apply translate-y-10 opacity-0 transition duration-1000 ease-out;
  }
  .to-animate.in-view {
    @apply translate-y-0 opacity-100;
  }
  /*============== border-style =============== */
  .border__top {
    @apply border-t-[1px] border-t-middleGrey;
  }

  .border__left {
    @apply border-l-[1px] border-l-middleGrey;
  }

  .border__right {
    @apply border-r-[1px] border-r-middleGrey;
  }

  .border__bottom {
    @apply border-b-[1px] border-b-middleGrey;
  }

  .border__rounded_s {
    @apply rounded-full border-[1px] border-middleGrey
   transition ease-in
   
    hover:border-white;
  }

  /* .border__error {
  @apply border-borderBtn hover:border-borderBtn rounded-full
    border-[1px];
} */
}
